.light-blue {
  color: #59abfa;
}
.blue {
  color: #4061d7;
}
.dark-blue {
  color: #21387a;
}

.orange {
  color: #fd9e2a;
}

/* 
   */

#top {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 3.5% auto 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  height: calc(100% - 50px);
  overflow: auto;
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 5% 0;
  justify-content: space-between;
}

.splash {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 25vh auto;
  font-family: "Outfit", sans-serif;
}

.splash-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 5px 0;
  font-optical-sizing: auto;
  font-size: 4.8rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.07em;
}

@media (min-width: 1200px) {
  .header {
    font-size: 5rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    font-size: 4.3rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    font-size: 4.25rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header {
    font-size: 4rem;
  }
}

@media (min-width: 439px) and (max-width: 575px) {
  .header {
    font-size: 3rem;
  }
}

@media (min-width: 361px) and (max-width: 439px) {
  .header {
    font-size: 2.75rem;
  }
}

@media (min-width: 341px) and (max-width: 360px) {
  .header {
    font-size: 2.25rem;
  }
}

@media (max-width: 340px) {
  .header {
    padding-left: 10px;
    font-size: 1.5rem;
  }
}

.header-div {
  width: fit-content;
  line-height: 0.95;
  margin: 5px 2.5px;
}

.header-sub {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  min-width: 340px;
  justify-content: space-between;
  margin: 20px auto;
}

.header-sub-div {
  width: fit-content;
  margin: 0 5px 0 5px;
  color: #21387a;
  padding-bottom: 10px;
  border: 3px none #fff;
  background-color: transparent;
}

.header-sub-div:hover {
  color: #588dfb;
  cursor: pointer;
  border-bottom: 3px solid #22377a;
  padding-bottom: 10px;
  transition: all 0.5s;
}

@media (min-width: 1200px) {
  .header-sub-div {
    font-size: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header-sub-div {
    font-size: 1.5rem;
  }
}

@media (min-width: 361px) and (max-width: 991px) {
  .header-sub-div {
    font-size: 1.25rem;
  }
}

@media (max-width: 360px) {
  .header-sub-div {
    font-size: 1rem;
  }
}
